
    {{#each this}}
    <li class='countries-item'>
        <img src='{{flags.svg}}' alt='flag' width='30' height='30' />
        <p class='countries-title'>{{name.official}}</p>
    </li>
    {{/each}}
