
    {{#each this}}
    <li class='countries-item'>
        <img src='{{flags.svg}}' alt='flag {{name.official}}' width='30' />
        <p class='countries-title'>{{name.official}}</p>
    </li>
    {{/each}}
